@import url('https://fonts.googleapis.com/css2?family=Geist+Sans:ital,wght@0,100..900;1,100..900&family=Geist+Mono:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Geist Sans', ui-sans-serif, system-ui, sans-serif;
	--font-serif: 'Noto Serif', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono:
		'Geist Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

	--text-title: clamp(1.5rem, 7vw, 2.25rem);
	--text-title--line-height: 1.05;
	--text-title--font-weight: 600;
	--text-title--letter-spacing: -0.01em;

	--text-subtitle: clamp(1rem, 4vw, 1.125rem);
	--text-subtitle--line-height: 1.5;
	--text-subtitle--font-weight: 400;

	--text-section-header: 10.5px;
	--text-section-header--line-height: 1;
	--text-section-header--font-weight: 500;
	--text-section-header--letter-spacing: 0.14em;

	--text-company: 15.5px;
	--text-company--line-height: 1.5;
	--text-company--font-weight: 600;

	--text-date: 12.5px;
	--text-date--line-height: 1.5;
	--text-date--font-weight: 400;

	--text-description: 16px;
	--text-description--line-height: 1.5;
	--text-description--font-weight: 400;

	--color-neutral-350: oklch(78.9% 0 0);
	--color-neutral-375: oklch(75% 0 0);
}

html {
	font-family: 'Geist Sans', 'ui-sans-serif', 'system-ui', 'sans-serif';
	background-color: #fafafa;
	color: #171717;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}
